{% extends "template.html" %}
{% block conteudo %}
<h4 class="comments-count">Adicionar item</h4>

        <div class="reply-form">

            <form action="{{ url_for('adicionar_item', codigo=emprestimo) }}" method="POST">
                <div class="row">

                    <div class="col form-group">
                      <label for="item">Itens</label>
                      <select name="item"  required class="form-control">
                        {% if itens %}
                          {% for u in itens %}
                            <option  value="{{ u[0] }}">{{ u[0] }} - {{  u[7] }}
                          {% endfor %}
                        {% endif %}
                      </select>
                    </div>

                </div>

                  <button type="submit" class="btn btn-primary">Adicionar</button>

            </form>

        </div>
{% endblock conteudo %}