<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Lab</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/main.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>EVA <span>.</span></h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/" class="active">Início</a></li>
          <li><a href="#sobre">Sobre</a></li>
          <li><a href="#funcoes">Funções</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">

    <div class="info d-flex align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <h2 data-aos="fade-down"><span>Laboratório EVA</span></h2>
            <p data-aos="fade-up"> Sistema de Gerenciamento de Laboratórios</p>
            <p data-aos="fade-up">Entre com sua Matrícula SUAP</p>
            <a data-aos="fade-up" data-aos-delay="200" href="/login" class="btn-get-started">Login</a>

          </div>
        </div>
      </div>
    </div>

    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

      <div class="carousel-item active" style="background-image: url(static/assets/img/hero-carousel/hero-carousel-1.jpg)"></div>
      <div class="carousel-item" style="background-image: url(static/assets/img/hero-carousel/hero-carousel-2.jpg)"></div>
      <div class="carousel-item" style="background-image: url(static/assets/img/hero-carousel/hero-carousel-3.jpg)"></div>
      <div class="carousel-item" style="background-image: url(static/assets/img/hero-carousel/hero-carousel-4.jpg)"></div>
      <div class="carousel-item" style="background-image: url(static/assets/img/hero-carousel/hero-carousel-5.jpg)"></div>

      <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>

  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= Alt Services Section ======= -->
    <section id="sobre" class="alt-services">
      <div class="container" data-aos="fade-up">

        <div class="row justify-content-around gy-4">
          <div class="col-lg-6 img-bg" style="background-image: url(static/assets/img/lab.jpg);" data-aos="zoom-in" data-aos-delay="100"></div>

          <div class="col-lg-5 d-flex flex-column justify-content-center">
            <h3>Laboratório EVA</h3>
            <p style="text-align: justify;">Bem vindo ao Sistema de Gerenciamento de Laboratórios EVA! A plataforma foi desenvolvida por três alunas do 3° ano de Informática para facilitar e monitorar o
              empréstimo de materiais do laboratório de eletrônica. </p>

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">
              <i class="bi bi-patch-check flex-shrink-0"></i>
              <div>
                <h4><a href="/login" class="stretched-link">Ideal para Alunos</a></h4>
                <p>O sistema permite que você faça login, a partir da matrícula e senha do SUAP, para pegar materiais e componentes do laboratóro de eletrônica do IFRN Campus Apodi.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-patch-check flex-shrink-0"></i>
              <div>
                <h4><a href="/login" class="stretched-link">Ideal para Professores</a></h4>
                <p>O sistema permite que você faça login, a partir da matrícula e senha do SUAP, para cadastrar itens presentes no laboratório, além de gerenciar as retiradas de componentes feitas por alunos.</p>
              </div>
            </div><!-- End Icon Box -->

          </div>
        </div>

      </div>
    </section><!-- End Alt Services Section -->

    <!-- ======= O que você quer fazer Section ======= -->
    <section id="funcoes" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>O que você quer fazer?</h2>
        </div>

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="fa-solid fa-keyboard"></i>
              </div>
              <h3>Cadastrar Material</h3>
              <p>Cadastre um material novo que chegou ao laboratório (ex: resistores, arduínos, multímetros).</p>
              <a href="/login" class="readmore stretched-link">Saiba mais <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-desktop"></i>
              </div>
              <h3>Cadastrar Item</h3>
              <p>Cadastre a quantidade de itens daquele material (ex: 50 resistores, 3 arduínos, 1 multímetro).</p>
              <a href="/login" class="readmore stretched-link">Saiba mais <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-keyboard"></i>
              </div>
              <h3>Registrar Empréstimo</h3>
              <p>Se for pegar algum item emprestado, não esqueça de registrar seu empréstimo aqui!</p>
              <a href="/login" class="readmore stretched-link">Saiba mais <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-list"></i>
              </div>
              <h3>Listar Material</h3>
              <p>Veja os materiais que já estão cadastrados no laboratório.</p>
              <a href="/login" class="readmore stretched-link">Saiba mais <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-table-list"></i>
              </div>
              <h3>Listar Item</h3>
              <p>Veja quantos itens de cada material estão disponíveis no estoque.</p>
              <a href="/login" class="readmore stretched-link">Saiba mais <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-list"></i>
              </div>
              <h3>Listar Empréstimo</h3>
              <p>Veja os empréstimos que foram feitos pelos alunos.</p>
              <a href="/login" class="readmore stretched-link">Saiba mais <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>
    </section><!-- End O que você quer fazer Section -->

    <!-- ======= Você sabia? ======= -->
    <section id="constructions" class="constructions">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Você sabia?</h2>
        </div>

        <div class="row gy-4">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg" style="background-image: url(static/assets/img/aviao.jpg);"></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center container">
                  <div class="card-body">
                    <h4 class="card-title">Sinalização para aeronaves</h4>
                    <p style="text-align: justify;">As bolas alaranjadas e avermelhadas colocadas nos fios de alta tensão que cruzam as rodovias servem para sinalização visual para os pilotos das aeronaves, quando tiverem que realizar pousos de emergência.</p>
                    <br>
                    <a style="text-align: rigth; font-size: 12px; font-style: italic" href="https://www.mundodaeletrica.com.br/10-curiosidades-sobre-a-eletricidade/">Fonte: Mundo da Elétrica</a>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg" style="background-image: url(static/assets/img/geladeira.jpg);"></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center container">
                  <div class="card-body">
                    <h4 class="card-title">Consomem mais energia</h4>
                    <p style="text-align: justify;">Geladeiras e freezers consomem mais energia se estiverem próximos ao fogão, pois precisam compensar o calor a sua volta e para isso consomem mas energia.</p>
                    <br>
                    <a style="text-align: right; font-size: 12px; font-style: italic" href="https://www.mundodaeletrica.com.br/10-curiosidades-sobre-a-eletricidade/">Fonte: Mundo da Elétrica</a>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg" style="background-image: url(static/assets/img/brasil.jpg);"></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center container">
                  <div class="card-body">
                    <h4 class="card-title">Brasil, o país dos raios</h4>
                    <p style="text-align: justify;">Segundo dados do Grupo de Eletricidade Atmosférica (ELAT) do Instituto Nacional de Pesquisas Espaciais (INPE), o Brasil é o país com maior incidência de descargas elétricas no mundo.</p>
                    <br>
                    <a style="text-align: right; font-size: 12px; font-style: italic" href="https://canaltech.com.br/ciencia/curiosidades-sobre-eletricidade-200088/">Fonte: Canal Tech</a>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg" style="background-image: url(static/assets/img/raio.jpg);"></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center container">
                  <div class="card-body">
                    <h4 class="card-title">O Raio</h4>
                    <p style="text-align: justify;">Quando há um excesso de cargas elétricas, esse excedente é liberado e, então, dá origem ao raio. Um único fenômeno do tipo pode percorrer até 5 km de distância e gerar até 30 mil ampère.</p>
                    <br>
                    <a style="text-align: right; font-size: 12px; font-style: italic" href="https://canaltech.com.br/ciencia/curiosidades-sobre-eletricidade-200088/">Fonte: Canal Tech</a>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Card Item -->

        </div>

      </div>
    </section><!-- End Você Sabia Section -->


    <!-- ======= Nomes Importantes ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Nomes importantes</h2>
          <p>Cientistas importantes e suas descobertas</p>
        </div>

        <div class="slides-2 swiper">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
<!--                  <img src="static/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">-->
                  <h3>Ada Lovelace</h3>
                  <h4>Criadora do primeiro algoritmo</h4>
<!--                  <div class="stars">-->
<!--                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>-->
<!--                  </div>-->
                  <p>
<!--                    <i class="bi bi-quote quote-icon-left"></i>-->
                    Nascida em 1815, Ada foi a responsável pela criação do primeiro algoritmo do mundo. Graças a ela e a outros nomes, foi possível a criação do computador que conhecemos hoje.
<!--                    <i class="bi bi-quote quote-icon-right"></i>-->
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
<!--                  <img src="static/assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">-->
                  <h3>Michael Faraday</h3>
                  <h4>Descobriu a indução eletromagnética</h4>
<!--                  <div class="stars">-->
<!--                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>-->
<!--                  </div>-->
                  <p>
<!--                    <i class="bi bi-quote quote-icon-left"></i>-->
                    A maior contribuição do britânico foi a descoberta da indução eletromagnética.
<!--                    <i class="bi bi-quote quote-icon-right"></i>-->
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
<!--                  <img src="static/assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">-->
                  <h3>Mária Telkes</h3>
                  <h4>Contribuiu para a criação da energia solar</h4>
<!--                  <div class="stars">-->
<!--                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>-->
<!--                  </div>-->
                  <p>
<!--                    <i class="bi bi-quote quote-icon-left"></i>-->
                    Teve grande importância para o estudo relacionado a energia solar, o qual rendeu-lhe o apelido de "Rainha do Sol".
<!--                    <i class="bi bi-quote quote-icon-right"></i>-->
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
<!--                  <img src="static/assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">-->
                  <h3>Edith Clarke</h3>
                  <h4>Primeira professora de engenharia elétrica</h4>
<!--                  <div class="stars">-->
<!--                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>-->
<!--                  </div>-->
                  <p>
<!--                    <i class="bi bi-quote quote-icon-left"></i>-->
                    Foi a primeira engenheira eletricista e a primeira professora de engenharia elétrica do mundo.
<!--                    <i class="bi bi-quote quote-icon-right"></i>-->
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
<!--                  <img src="static/assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">-->
                  <h3>Thomas Edison</h3>
                  <h4>Criador da lãmpada incandescente</h4>
<!--                  <div class="stars">-->
<!--                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>-->
<!--                  </div>-->
                  <p>
<!--                    <i class="bi bi-quote quote-icon-left"></i>-->
                    Sua invenção de maior sucesso doi a lâmpada incandescente, em 1879.
<!--                    <i class="bi bi-quote quote-icon-right"></i>-->
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-md-6">
            <div class="footer-info">
              <h3>Laboratório EVA</h3>
              <p>Instituto Federal de Educação, Ciência e Tecnologia do Rio Grande do Norte | Apodi
                  <br>Rodovia RN 233, KM 02, nº. 1000, Bairro Chapada do Apodi, Apodi-RN, CEP: 59.700-000.<br>
                <strong>Telefone:</strong> (84) 4005-4101<br>
                <strong>Email:</strong> gabin.ap@ifrn.edu.br<br>
              </p>
              <div class="social-links d-flex mt-3">
        </div>
      </div>
    </div>

    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>EVA</span></strong>. All Rights Reserved
        </div>
      </div>
    </div>

  </footer>
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>