{% extends "template.html" %}
{% block conteudo %}
<h4 class="comments-count">Registro de Empréstimos</h4>


             <div class="sidebar">

<!--              <div class="sidebar-item search-form">-->
                <h3 class="sidebar-title">Buscar Empréstimo por Data</h3>
                <form action=" " method="POST" class="mt-3">
                  <input name="data" type="date" value="{{ request.form.listar_emprestimo }}">
                  <button type="submit"><i class="bi bi-search"></i></button>
                </form>
<!--              </div>&lt;!&ndash; End sidebar search formn&ndash;&gt;-->


<!--              <div class="sidebar-item search-form">-->
<!--                <h3 class="sidebar-title">Buscar Emprestimo por Usuário</h3>-->
<!--                <form action=" " method="POST" class="mt-3">-->
<!--                  <input name="nome" type="text" value="{{ request.form.listar_emprestimo }}">-->
<!--                  <button type="submit"><i class="bi bi-search"></i></button>-->
<!--                </form>-->
<!--              </div>&lt;!&ndash; End sidebar search formn&ndash;&gt;-->




  <div class="reply-form">

    <table class="table">
      <thead>
        <th>Código</th>
        <th>Tipo</th>
        <th>Data Empréstimo</th>
        <th>Data de Devolução</th>
        <th>Usuário</th>
        <th>Opções</th>
      </thead>
      <tbody>
      {% if emprestimos %}
        {% for s in emprestimos %}
          <tr>
            <td>{{ s[0] }}</td>
            <td>{{ s[1] }}</td>
            <td>{{ s[2] }}</td>
            <td>{{ s[3] }}</td>
            <td>{{ s[4] }}</td>
            <td><a href="{{ url_for('excluir_emprestimo', codigo=s[0]) }}" onclick="excluirEmprestimo({{ s[0] }})">Excluir</a> |
              <a href="{{ url_for('devolver_itens', codigo=s[0]) }}">Devolver</a> |
              <a href="{{ url_for('adicionar_item', codigo=s[0] ) }}">Adicionar item</a> |
              <a href="{{ url_for('visualizar_emprestimo', codigo=s[0] ) }}">Visualizar</a></td>
          </tr>
        {% endfor %}
      {% else %}
        <p>Nenhum item foi encontrado</p>
      {% endif %}
      </tbody>
    </table>
  </div>


<script type="text/javascript">
  function excluirEmprestimo(codigo){
    resp = confirm('Excluir empréstimo '+codigo+'?')
    if(resp){
      window.location.href = 'excluir_emprestimo/'+codigo;
    }
  }


</script>
{% endblock conteudo %}